{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          {% if op == 'update' %}
            <h2>Modificar Circulo</h2>
          {% elif op == 'new' %}
            <h2>Nuevo Circulo</h2>
          {% else %}
            <h2>Agregar Usuarios a mi Circulo</h2>
          {% endif %}
        </div>
        <div class="panel-body">
          <form class="form_registro" action="{% url 'usac_networking:circulo_add' c_id %}" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Agregar...</h3>
              </div>
              <div class="panel-body">
                {{ formset.management_form }}
                {% for form in formset %}
                  {% for field in form %}
                    {% if field.label == 'Circulo' %}
                      <div class="not-visible">
                        <div class="form-group">
                          {% if field.label != 'Id' %}
                            {{ field.label_tag }}
                          {% endif %}
                          {{ field }}
                        </div>
                      </div>
                    {% else %}
                      <div class="form-group">
                        {% if field.label != 'Id' %}
                          {{ field.label_tag }}
                        {% endif %}
                        {{ field }}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
              <div class="panel-footer">
              <button type="submit" class="btn btn-default">Agregar</button>
            </div>
            </div>
          </form>
        <div class="panel panel-default">
            <div class="panel-heading">
              Usuarios en este Circulo
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Estado</th>
                  </thead>
                  <tbody>
                    {% for circulo in circulod %}
                      {% if circulo.estado == 0  %}
                        <tr class="warning">
                      {% elif circulo.estado == 1  %}
                        <tr class="danger">
                      {% else  %}
                        <tr class="success">
                      {% endif %}
                      <td>{{ circulo.usuario.nombre }}</td>
                      <td>{{ circulo.usuario.carnet }}</td>
                      {% if circulo.estado == 0  %}
                        <td>Pendiente</td>
                      {% elif circulo.estado == 1  %}
                        <td>Salio</td>
                      {% else  %}
                        <td>Participando</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
