{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <form class="form_registro" action="{% url 'usac_networking:circulo_nuevo' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="panel panel-default">

          <div class="panel-heading">
            {% if op == 'update' %}
              <h2>Modificar Circulo</h2>
            {% else %}
              <h2>Nuevo Circulo</h2>
            {% endif %}
          </div>
          <div class="panel-body">
            {{ formset.management_form }}
            {% for form in formset %}
              {% for field in form %}
                {% if field.label != 'Usuario' %}
                  <div class="form-group">
                    {% if field.label != 'Id' %}
                      {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                  </div>
                {% else %}
                <div class="not-visible">
                  <div class="form-group">
                    {% if field.label != 'Id' %}
                      {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-default">Guardar</button>
          </div>
        </div>
      </form>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
