{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12">
              <h2>
                {{ circulo.nombre }}
                {% if editable %}
                  <a href="{% url 'usac_networking:circulo_update' circulo.pk %}" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Modificar
                  </a>
                {% endif %}
              </h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-group">
            <div class="panel panel-primary">
              <div class="panel-heading">
                Informacion
              </div>
              <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th>Propietario</th>
                          <td>{{ circulo.usuario.nombre }} [ {{ circulo.usuario.carnet }} ]</td>
                        </tr>
                        <tr>
                          <th>Descripcion</th>
                          <td>{{ circulo.descripcion }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
            <hr>
            <div class="panel panel-info">
              <div class="panel-heading">
                Integrantes
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th>Nombre</th>
                      <th>carnet</th>
                      <th>Catedratico</th>
                      <th>Estado</th>
                      {% if editable %}
                        <th>&nbsp;</th>
                      {% endif %}
                    </thead>
                    <tbody>
                      {% for usuario in circulo_des %}
                        <tr>
                          <td>
                            <a href="{% url 'usac_networking:user_detail' usuario.usuario.pk %}">
                              {{ usuario.usuario.nombre }} {{ usuario.usuario.apellido }}
                            </a>
                          </td>
                          <td>{{ usuario.usuario.carnet }}</td>
                          <td>
                            {% if usuario.usuario.catedratico == True %}
                              Catedratico
                            {% else %}
                              Estudiante
                            {% endif %}
                          </td>
                          {% if usuario.estado == 0  %}
                            <td>Pendiente</td>
                          {% else  %}
                            <td>Participando</td>
                          {% endif %}
                          {% if editable %}
                            <td>
                              <div class="btn-group pull-right">
                                <button data-id="{{ usuario.usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                              </div>
                            </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form id="del_confirm" method="post" data="{% url 'usac_networking:circulo_info' circulo.pk %}">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
              <p>Esta Seguro que Desea remover este usuario de este grupo?</p>
              <input type="hidden" name="f_op" value="del"/>
              <input type="hidden" id="f_id" name="f_id" value=""/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Si</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/del_list.js' %}"></script>
  </body>
</html>
