{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <div class="panel-group">
        {% if notificaciones|length > 0 %}
        <div class="panel panel-info">
          <div class="panel-heading">
            Solicitudes de pertenecencia
          </div>
          <div class="panel-body">
            {% for notificacion in notificaciones %}
              <div id="notificacion{{ notificacion.pk }}" class="row">
                <div class="col-sm-9">
                  <div class="text-justify">
                    El usuario: {{ notificacion.circulo.usuario.nombre }} te ha mandado una solicitud de pertenecencia para el grupo creado por el llamado "<a href="{% url 'usac_networking:circulo_info' notificacion.circulo.pk %}">{{ notificacion.circulo.nombre }}</a>"
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="btn-group pull-right">
                    <a data-url="{% url 'usac_networking:notificacion_circulo' %}" data-op="aceptar" data-id="{{ notificacion.pk }}" href="#" type="button" class="btn btn-default btn-xs notificacion"><span class="glyphicon glyphicon-ok-sign"></span> Aceptar</a>
                    <a data-url="{% url 'usac_networking:notificacion_circulo' %}" data-op="rechazar" data-id="{{ notificacion.pk }}" href="#" type="button" class="btn btn-default btn-xs notificacion"><span class="glyphicon glyphicon-remove-sign"></span> Rechazar</a>
                  </div>
                </div>
              </div>
              <div id="notificacion_a{{ notificacion.pk }}" class="row msg_notificacion">
                <div class="col-sm-12">
                  <div class="alert alert-info">
                    Ahora perteneces al grupo "{{ notificacion.circulo.nombre }}"
                  </div>
                </div>
              </div>
              <div id="notificacion_b{{ notificacion.pk }}" class="row msg_notificacion">
                <div class="col-sm-12">
                  <div class="alert alert-info">
                    Haz rechazado la solicitud de pertenecencia para el grupo "{{ notificacion.circulo.nombre }}"
                  </div>
                </div>
              </div>
              <hr>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-king"></span> Circulos Sociales
            <div class="pull-right">
              <a href="{% url 'usac_networking:circulo_nuevo' %}" type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-plus"></span>
              </a>
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="text-center">
                    Mis grupos
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <th>Cod.</th>
                        <th>Nombre.</th>
                        <th>Ciencia</th>
                        <th>Descripcion</th>
                        <th>&nbsp;</th>
                      </thead>
                      <tbody>
                        {% if circulos|length > 0 %}
                          {% for circulo in circulos %}
                            <tr>
                              <td>{{ circulo.pk }}</td>
                              <td>{{ circulo.nombre }}</td>
                              <td>{{ circulo.ciencia }}</td>
                              <td>{{ circulo.descripcion }}</td>
                              <td>
                                <div class="btn-group pull-right">
                                  <a href="{% url 'usac_networking:circulo_info' circulo.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
                                  <a href="{% url 'usac_networking:circulo_update' circulo.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                  <a href="{% url 'usac_networking:circulo_add' circulo.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
                                  <button data-id="{{ circulo.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <th colspan="5">
                              <div class="text-center">
                                Actualmente no tienes ningun grupo
                              </div>
                            </th>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="text-center">
                    Circulos a donde pertenesco
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <th>Cod.</th>
                        <th>Propetario</th>
                        <th>Nombre.</th>
                        <th>Ciencia</th>
                        <th>Descripcion</th>
                        <th>&nbsp;</th>
                      </thead>
                      <tbody>
                        {% if circulosinv|length > 0 %}
                          {% for circulo_inv in circulosinv %}
                            <tr id="circulo{{ circulo_inv.pk }}">
                              <td>{{ circulo_inv.circulo.pk }}</td>
                              <td>{{ circulo_inv.circulo.usuario }}</td>
                              <td>{{ circulo_inv.circulo.nombre }}</td>
                              <td>{{ circulo_inv.circulo.ciencia }}</td>
                              <td>{{ circulo_inv.circulo.descripcion }}</td>
                              <td>
                                <div class="btn-group pull-right">
                                  <a data-url="{% url 'usac_networking:notificacion_circulo' %}" data-op="salir" data-id="{{ circulo_inv.pk }}" href="#" type="button" class="btn btn-default btn-xs notificacion"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <th colspan="5">
                              <div class="text-center">
                                Actualmente no perteneces a ningun grupo
                              </div>
                            </th>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<form id="del_confirm" method="post" data="{% url 'usac_networking:circulos' %}">
            {% csrf_token %}
            <div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    					<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
    				</div>
    				<div class="modal-body">
    					<p>Esta Seguro que Desea Eliminar esta Facultad?</p>
              <input type="hidden" name="f_op" value="del"/>
              <input type="hidden" id="f_id" name="f_id" value=""/>
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    					<button type="submit" class="btn btn-danger">Si</button>
    				</div>
    			</form>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/notificaciones.js' %}"></script>
  </body>
</html>
