<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <form  class="form_registro"  action="{% url 'usac_networking:facultad' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="panel panel-default">

          <div class="panel-heading">
            {% if op == 'upd' %}
              <h2>Modificar Facultad</h2>
            {% else %}
              <h2>Nueva Facultad</h2>
            {% endif %}
          </div>
          <div class="panel-body">
            {{ formset.management_form }}
            {% for form in formset %}
              {% for field in form %}
                <div class="form-group">
                  {% if field.label != 'Id' %}
                    {{ field.label_tag }}
                  {% endif %}
                  {{ field }}
                </div>
              {% endfor %}
            {% endfor %}
            <input type="hidden" name="f_op" value="{{ op }}"/>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-default">Guardar</button>
          </div>
        </div>
      </form>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
