{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <script type="text/javascript">
        var url_amistad = "{% url 'usac_networking:amistad' %}";
        {% if request.session.user_id %}
          var user_id = {{ request.session.user_id }};
        {% endif %}
      </script>
      <div class="panel-group">
        {% if solicitudes|length > 0 %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-exclamation-sign"></span> Solicitudes de Amistad
            </div>
            <div class="panel-body">
                <div class="panel-group">
                  {% for solicitud in solicitudes %}
                  <div class="panel panel-default" id="solicitud{{ solicitud.pk }}">
                    <div class="panel-heading">
                      <a href="{% url 'usac_networking:user_detail' solicitud.origen.pk %}">{{ solicitud.origen.nombre }} {{ solicitud.origen.apellido }}</a> Quiere ser Tu Amigo!
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <tr>
                            <th>Carnet:</th>
                            <td>{{ solicitud.origen.nombre }}</td>
                          </tr>
                          <tr>
                            <th>Telefono:</th>
                            <td>{{ solicitud.origen.telefono }}</td>
                          </tr>
                          <tr>
                            <th>Correo</th>
                            <td>{{ solicitud.origen.correo }}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="#" type="button" data-id="{{ solicitud.pk }}" class="btn btn-default btn-xs aceptar_a">
                            <span class="glyphicon glyphicon-ok-circle"></span> Aceptar
                          </a>
                        </div>
                        <div class="col-sm-6">
                          <a href="#" type="button" data-id="{{ solicitud.pk }}" class="btn btn-default btn-xs rechazar_a">
                            <span class="glyphicon glyphicon-remove-circle"></span> Rechazar
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2>Tus Amigos</h2>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped">
                {% if amistades|length > 0 or amigos|length > 0 %}
                  <thead>
                    <th>Carnet</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>&nbsp;</th>
                  </thead>
                  <tbody>
                    {% for amistad in amistades %}
                    <tr id="amistad{{ amistad.pk }}">
                      <td>{{ amistad.origen.carnet }}</td>
                      <td><a href="{% url 'usac_networking:user_detail' amistad.relacion.pk %}">{{ amistad.relacion.nombre }} {{ amistad.relacion.apellido }}</a></td>
                      <td>{{ amistad.origen.telefono }}</td>
                      <td>{{ amistad.origen.correo }}</td>
                      <td>
                        <a href="#" type="button" data-id="{{ amistad.pk }}" class="btn btn-default btn-xs eliminar">
                          <span class="glyphicon glyphicon-remove-circle"></span> Eliminar Amigo
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% for amistad in amigos %}
                    <tr id="amistad{{ amistad.pk }}">
                      <td>{{ amistad.origen.carnet }}</td>
                      <td><a href="{% url 'usac_networking:user_detail' amistad.origen.pk %}">{{ amistad.origen.nombre }} {{ amistad.origen.apellido }}</a></td>
                      <td>{{ amistad.origen.telefono }}</td>
                      <td>{{ amistad.origen.correo }}</td>
                      <td>
                        <a href="#" type="button" data-id="{{ amistad.pk }}" class="btn btn-default btn-xs eliminar">
                          <span class="glyphicon glyphicon-remove-circle"></span> Eliminar Amigo
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                {% else %}
                <thead>
                  <tr>
                    <th class="text-center">NO TIENES NINGUN AMIGO AUN</th>
                  </tr>
                </thead>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
    <script type="text/javascript" src="{% static 'usac_networking/js/amistad.js' %}"></script>
  </body>
</html>
