
.container {
  margin-top:70px;
}

.form_registro {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}

.not-visible {
  display: none;
}

.form_login {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.td_img{
   width:100px;
   height:100px;
}

.profile_img{
  height: 200px;
}

.profile_img_search{
  height: 100px;
}

.profile_img img{
   height: 100%;
}

.profile_img_search img{
   height: 100%;
}

.prueba {
  background-color: black;
}

.search {
  display: none;
}

.msg_notificacion{
  display: none;
}
