<!DOCTYPE html>
<html>
  {% load static %}
  {% include 'usac_networking/public/header.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'usac_networking/css/Actual/forms_login.css' %}" />
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if correo %}
        <h1>Hemos Enviado un correo a {{ correo }}******* con la credenciales de esta cuenta</h1>
      {% else %}
        {% if err_msg %}
          <div class="alert alert-danger">{{ err_msg }}</div>
        {% endif %}
        <form class="form-signin" action="{% url 'usac_networking:forgot' %}" method="post" >
          <h2 class="form-signin-heading">Olvidadizo!...</h2>
          {% csrf_token %}
          <input type="number" class="form-control" name="user_carne" placeholder="Carnet Universitario" required autofocus>
          <input type="submit" value="Enviar" class="btn btn-lg btn-primary btn-block">
        </form>
      {% endif %}
      <center><a href="{% url 'usac_networking:login' %}">iniciar sesion</a></center>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
