{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      <div class="contenido">
        <div class="row">
          <div class="col-md-12">
            <h2>Ultimos Temas Publicados</h2>
          </div>
        </div>
        {% for tema in temas %}
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3>{{ tema.titulo }} ({{ tema.fecha }})</h3>
                </div>
                <div class="panel-body">
                  <img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ tema.imagen }}" alt="Card image cap">
                  <br>
                  {% autoescape off %}
                    <div class="card-text text-justify">
                      {{ tema.contenido|linebreaks|capfirst|truncatechars:100 }}
                    </div>
                  {% endautoescape %}
                </div>
                <div class="panel-footer">
                  Posteado por: <a href="{% url 'usac_networking:user_detail' tema.usuario.pk %}">{{ tema.usuario.nombre }}</a>
                  <div class="pull-right">
                    <a href="{% url 'usac_networking:tema_info' tema.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Seguir Leyendo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
