<!DOCTYPE html>
<html>
  {% load static %}
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <form class="form_login" class="form-signin" action="{% url 'usac_networking:login' %}" method="post" >
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="form-signin-heading">Log in</h2>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="number" name="user_carne" placeholder="Carnet Universitario" required autofocus>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" name="password" placeholder="Contraseña" required>
            </div>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Ingresar</button>
          </div>
        </div>
      </form>
      <center><a href="{% url 'usac_networking:forgot' %}">olvide mi contraseña...</a></center>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
