<!DOCTYPE html>
<html>
  {% load static %}
  {% include 'usac_networking/public/header.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'usac_networking/css/Actual/forms_signup.css' %}" />
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      <h1> hemos enviado un correo de validacion a tu correo. porfavor sigue las instrucciones que se te plantean ahi </h1>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
