<!DOCTYPE html>
<html>
  {% load static %}
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <form class="form_registro" action="{% url 'usac_networking:sign_in' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="form-signin-heading">Registrate</h2>
          </div>
          <div class="panel-body">
            {{ formset.management_form }}
              {% for form in formset %}
                {% for field in form %}
                    <div class="form-group">
                      {% if field.label != 'Id' %}
                        {{ field.label_tag }}
                      {% endif %}
                      {{ field }}
                    </div>
                {% endfor %}
              {% endfor %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>
          </div>
        </div>
      </form>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
