<!DOCTYPE html>
<html>
  {% load static %}
  {% include 'usac_networking/public/header.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'usac_networking/css/Actual/forms_signup.css' %}" />
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if resultado == 1 %}
        <h1>tu cuenta ha sido confirmada. ya puedes utilizarla con tranquilidad</h1>
      {% endif %}
      {% if resultado == 2 %}
        <h1>ha expirado este link de confirmacion. porfavor contacta al administrador de la pagina</h1>
      {% endif %}
      {% if resultado == 3 %}
        <h1>este usuario ya ha sido confirmado.</h1>
      {% endif %}
      {% if resultado == -1 %}
        <h1>Esta cuenta ha sido suspendida, contacta con uno de los administradores de la paguina</h1>
      {% endif %}
      {% if resultado == -2 %}
        <h1>Esta cuenta ha sido eliminada, contacta con uno de los administradores de la paguina</h1>
      {% endif %}
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
