<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  {% load static %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <script type="text/javascript">
      var user_id = {{ request.session.user_id }};
    </script>
    <div class="container">
      <div class="contenido">
        <h1>Chat</h1>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/chat.js' %}"></script>
  </body>
</html>
