<footer class="p-3 mb-2 bg-dark text-white">
    <p class="m-0 text-center text-white">Copyright © Usac NetWorking - 201403775</p>
</footer>
{% load static %}
<script type="text/javascript" src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tablefilter/tablefilter.js' %}"></script>
<script type="text/javascript" src="{% static 'usac_networking/js/content.js' %}"></script>
