<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="author" content="Edwin Alfonzo Aguilar Hernandez - 201403775">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'usac_networking/images/logo.png' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tablefilter/style/tablefilter.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'usac_networking/css/content.css' %}" />
  <title>{{ title }}</title>
</head>
