{% load static %}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'usac_networking:index' %}">
        <span class="glyphicon glyphicon-home"></span> Usac Networking
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if session == 0 %}
        <li>
          <a class="nav-link" href="{% url 'usac_networking:login' %}">
            <span class="glyphicon glyphicon-log-in"></span> Iniciar sesion
          </a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'usac_networking:sign_in' %}">
            <span class="glyphicon glyphicon-user"></span> Registrate
          </a>
        </li>
        {% else %}
          <li>
            <a class="nav-link" href="{% url 'usac_networking:profile' %}">
              <span class="glyphicon glyphicon-sunglasses"></span> Perfil
            </a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'usac_networking:logout' %}">
              <span class="glyphicon glyphicon-log-out"></span> Salir
            </a>
          </li>
          {% if session == 1 %}
            <li>
              <a class="nav-link" href="{% url 'usac_networking:usuario' %}">
                <span class="glyphicon glyphicon-user"></span> Usuarios
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'usac_networking:tema_admin' %}">
                <span class="glyphicon glyphicon-file"></span> Temas
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'usac_networking:circulos_admin' %}">
                <span class="glyphicon glyphicon-user"></span> Circulos sociales
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span> Configuraciones <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'usac_networking:facultad' %}">
                    <span class="glyphicon glyphicon-king"></span> Facultades
                  </a>
                </li>
                <li>
                  <a href="{% url 'usac_networking:carrera' %}">
                    <span class="glyphicon glyphicon-queen"></span> Carreras
                  </a>
                </li>
                <li>
                  <a href="{% url 'usac_networking:ciencia' %}">
                    <span class="glyphicon glyphicon-pawn"></span> Ciencias
                  </a>
                </li>
                <li>
                  <a href="{% url 'usac_networking:cargo' %}">
                    <span class="glyphicon glyphicon-bishop"></span> Cargos universitarios
                  </a>
                </li>
              </ul>
            </li>
          {% endif %}
          {% if session == 2 %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-folder-open"></span> Temas <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'usac_networking:tema_nuevo' %}">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo
                  </a>
                </li>
                <li>
                  <a href="{% url 'usac_networking:tema' %}">
                    <span class="	glyphicon glyphicon-th-list"></span> Mis Temas
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> Circulos Sociales <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'usac_networking:amistades' %}">
                    <span class="glyphicon glyphicon-star"></span> Amistades
                  </a>
                </li>
                <li>
                  <a href="{% url 'usac_networking:circulo_nuevo' %}">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo Circulo Social
                  </a>
                </li>
                <li>
                  <a href="{% url 'usac_networking:circulos' %}">
                    <span class="	glyphicon glyphicon-th-list"></span> Mis Circulos Sociales
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="{% url 'usac_networking:chat' %}" target="_blank">
                <span class="glyphicon glyphicon-send"></span> Chat</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'usac_networking:asig' %}">
                <span class="glyphicon glyphicon-pencil"></span> Asignaciones</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="{% url 'usac_networking:wsbusqueda' %}" method="post" class="navbar-form navbar-right">
            {% csrf_token %}
            <div class="input-group">
              <input name="search" type="text" class="form-control" placeholder="Buscar...">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
