{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <script type="text/javascript">
        var url_amistad = "{% url 'usac_networking:amistad' %}";
        {% if request.session.user_id %}
          var user_id = {{ request.session.user_id }};
        {% endif %}
        var user_id2 = {{ usuario.pk }};
      </script>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
              <div class="col-sm-2">
                <center>
                  <div class="profile_img">
                    <img class="img-responsive img-circle" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"/>
                  </div>
                </center>
              </div>
              <div class="col-sm-10">
                <h2>
                  {{ usuario.nombre }} {{ usuario.apellido }}
                  {% if usuario.catedratico == True %}
                    (Catedratico)
                  {% endif %}
                  {% if friend != 0 %}
                    {% if friend == 3 %}
                      <a href="#" id="mandar_solicitud" type="button" class="btn btn-default btn-xs agregar_a">
                        <span class="glyphicon glyphicon-ok-circle"></span> Agregar Como Amigo
                      </a>
                      <a href="#" id="cancelar_solicitud" type="button" class="btn btn-default btn-xs eliminar_a not-visible">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar solicitud
                      </a>
                      <a href="#" id="eliminar_solicitud" type="button" class="btn btn-default btn-xs eliminar_a not-visible">
                        <span class="glyphicon glyphicon-remove-circle"></span> Eliminar Amistad
                      </a>
                    {% else %}
                        {% if friend == 4 %}
                          <small>Tienes una Solicitud de Amistad de Esta Persona</small>
                        {% elif friend == 2 %}
                          <a href="#" id="mandar_solicitud" type="button" class="btn btn-default btn-xs agregar_a not-visible">
                            <span class="glyphicon glyphicon-ok-circle"></span> Agregar Como Amigo
                          </a>
                          <a href="#" id="cancelar_solicitud" type="button" class="btn btn-default btn-xs eliminar_a">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar solicitud
                          </a>
                          <a href="#" id="eliminar_solicitud" type="button" class="btn btn-default btn-xs eliminar_a not-visible">
                            <span class="glyphicon glyphicon-remove-circle"></span> Eliminar Amistad
                          </a>
                        {% elif friend == 1 %}
                          <a href="#" id="mandar_solicitud" type="button" class="btn btn-default btn-xs agregar_a not-visible">
                            <span class="glyphicon glyphicon-ok-circle"></span> Agregar Como Amigo
                          </a>
                          <a href="#" id="cancelar_solicitud" type="button" class="btn btn-default btn-xs eliminar_a not-visible">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar solicitud
                          </a>
                          <a href="#" id="eliminar_solicitud" type="button" class="btn btn-default btn-xs eliminar_a">
                            <span class="glyphicon glyphicon-remove-circle"></span> Eliminar Amistad
                          </a>
                        {% endif %}
                    {% endif %}
                  {% endif %}
                </h2>
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th>Carnet</th>
                      <td>{{ usuario.carnet }}</td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td>{{ usuario.correo }}</td>
                    </tr>
                    <tr>
                      <th>Telefono</th>
                      <td>{{ usuario.telefono }}</td>
                    </tr>
                    {% if usuario.estado.pk == 1 %}
                      <tr class="danger">
                    {% elif usuario.estado.pk == 2 %}
                      <tr class="warning">
                    {% elif usuario.estado.pk == 3 %}
                      <tr class="info">
                    {% else %}
                      <tr class="success">
                    {% endif %}
                      <th>Estado</th>
                      <td>- {{ usuario.estado }} -</td>
                    </tr>
                    <tr>
                      <th>Rol en el sistema</th>
                      <td>{{ usuario.rol }}</td>
                    </tr>
                    {% if editable %}
                      <tr>
                        <td colspan="2" >
                          <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span> Editar
                          </a>
                        </td>
                      </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3>Temas</h3>
                </div>
                <div class="panel-body">


                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <th>Titulo</th>
                        <th>Fecha</th>
                        <th>Comentarios</th>
                      </thead>
                      <tbody>
                        {% for tema in temas %}
                          <tr>
                            <td><a href="{% url 'usac_networking:tema_info' tema.pk %}">{{ tema.titulo }}</a></td>
                            <td>{{ tema.fecha }}</td>
                            <td>{{ tema.comment }}</td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td colspan="4">
                              <div class="text-center">
                                <h2>No Tiene Ningun Tema Aun</h2>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>


                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3>Amistades</h3>
                </div>
                <div class="panel-body">


                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <th>Nombre</th>
                          <th>Email</th>
                          <th>Estado</th>
                        </thead>
                        <tbody>
                          {% for usuario in usuarios %}
                            <tr>
                              <td><a href="{% url 'usac_networking:user_detail' usuario.relacion.pk %}">{{ usuario.relacion.nombre }} {{ usuario.relacion.apellido }}</a></td>
                              <td>{{ usuario.relacion.correo }}</td>
                              <td>{{ usuario.relacion.estado }}</td>
                            </tr>
                          {% empty %}
                            <tr>
                              <td colspan="3">
                                <div class="text-center">
                                  <h2>No Tiene Ningun Amigo Aun</h2>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>


                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3>Circulos Sociales</h3>
                </div>
                <div class="panel-body">

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <th>Nombre</th>
                        <th>Ciencia</th>
                      </thead>
                      <tbody>
                        {% for circulo in circulos %}
                          <tr>
                            <td><a href="{% url 'usac_networking:circulo_info' circulo.pk %}">{{ circulo.nombre }}</a></td>
                            <td>{{ circulo.ciencia.nombre }}</td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td colspan="2">
                              <div class="text-center">
                                <h2>No Tiene Ningun Circulo Aun</h2>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
    <script type="text/javascript" src="{% static 'usac_networking/js/amistad.js' %}"></script>
  </body>
</html>
