{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><span class="glyphicon glyphicon-search"></span> Busqueda para: "{{ query }}"</h2>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-education"></span> Usuarios
            </div>
            <div class="panel-body">
              {% for usuario in usuarios %}
                <div class="row">
                    <div class="col-sm-2">
                      <center>
                        <div class="profile_img_search">
                          <img class="img-responsive img-circle" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"/>
                        </div>
                      </center>
                    </div>
                    <div class="col-sm-10">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th>
                              <a href="{% url 'usac_networking:user_detail' usuario.pk %}">
                                {{ usuario.nombre }} {{ usuario.apellido }}
                              </a>
                              {% if usuario.catedratico == True %}
                                (Catedratico)
                              {% endif %}
                                - {{ usuario.estado }} -
                            </th>
                          </tr>
                          {% if usuario.estado.pk == 1 %}
                            <tr class="danger">
                          {% elif usuario.estado.pk == 2 %}
                            <tr class="warning">
                          {% elif usuario.estado.pk == 3 %}
                            <tr class="info">
                          {% else %}
                            <tr class="success">
                          {% endif %}
                            <th>{{ usuario.carnet }}</th>
                          </tr>
                        </table>
                      </div>
                    </div>
                </div>
                <hr>
              {% empty %}
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="text-center">No Hay Resultados para esta categoria</h3>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>


          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-file"></span> Temas
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Propetario</th>
                  </thead>
                  <tbody>
                    {% for tema in temas %}
                      <tr>
                        <td>{{ tema.pk }}</td>
                        <td><a href="{% url 'usac_networking:tema_info' tema.pk %}">{{ tema.titulo }}</a></td>
                        <td><a href="{% url 'usac_networking:user_detail' tema.usuario.pk %}">{{ tema.usuario.nombre }} {{ tema.usuario.apellido }}</a></td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="3" class="text-center">
                          <h3>No Hay Resultados para esta categoria</h3>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-user"></span> Circulos Sociales
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Propetario</th>
                    <th>Descripccion</th>
                  </thead>
                  <tbody>
                    {% for circulo in circulos %}
                      <tr>
                        <td>{{ circulo.pk }}</td>
                        <td><a href="{% url 'usac_networking:circulo_info' circulo.pk %}">{{ circulo.nombre }}</a></td>
                        <td><a href="{% url 'usac_networking:user_detail' circulo.usuario.pk %}">{{ circulo.usuario.nombre }} {{ tema.usuario.apellido }}</a></td>
                        <td>{{ circulo.descripcion }}</td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="3" class="text-center">
                          <h3>No Hay Resultados para esta categoria</h3>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
