{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">

      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user"></span> Usuarios
          <div class="pull-right">
            <a href="{% url 'usac_networking:usu_nueva' %}" type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-plus"></span>
						</a>
          </div>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#admin"><span class="glyphicon glyphicon-apple"></span> Administradores ({{ administradores|length }})</a></li>
            <li><a data-toggle="tab" href="#cat"><span class="glyphicon glyphicon-knight"></span> Catedraticos ({{ catedraticos|length }})</a></li>
            <li><a data-toggle="tab" href="#usu"><span class="glyphicon glyphicon-education"></span> Estudiantes ({{ usuarios|length }})</a></li>
          </ul>
          <div class="tab-content">
            <div id="admin" class="tab-pane fade in active">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#admin_1">Activos</a></li>
                    <li><a data-toggle="tab" href="#admin_2">Suspendidos</a></li>
                    <li><a data-toggle="tab" href="#admin_3">Eliminados</a></li>
                  </ul>
                </div>
                <div class="panel-body">
                  <div class="tab-content">

                    <div id="admin_1" class="tab-pane fade in active">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in administradores %}
                              {% if usuario.estado.pk == 4 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="admin_2" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in administradores %}
                              {% if usuario.estado.pk == 3 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="admin_3" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in administradores %}
                              {% if usuario.estado.pk == 1 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div id="cat" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#cat_1">Activos</a></li>
                    <li><a data-toggle="tab" href="#cat_2">Suspendidos</a></li>
                    <li><a data-toggle="tab" href="#cat_3">No Confirmados</a></li>
                    <li><a data-toggle="tab" href="#cat_4">Eliminados</a></li>
                  </ul>
                </div>
                <div class="panel-body">
                  <div class="tab-content">

                    <div id="cat_1" class="tab-pane fade in active">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in catedraticos %}
                              {% if usuario.estado.pk == 4 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="cat_2" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in catedraticos %}
                              {% if usuario.estado.pk == 3 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="cat_3" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in catedraticos %}
                              {% if usuario.estado.pk == 2 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="cat_4" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in catedraticos %}
                              {% if usuario.estado.pk == 1 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div id="usu" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#usu_1">Activos</a></li>
                    <li><a data-toggle="tab" href="#usu_2">Suspendidos</a></li>
                    <li><a data-toggle="tab" href="#usu_3">No Confirmados</a></li>
                    <li><a data-toggle="tab" href="#usu_4">Eliminados</a></li>
                  </ul>
                </div>
                <div class="panel-body">
                  <div class="tab-content">

                    <div id="usu_1" class="tab-pane fade in active">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in usuarios %}
                              {% if usuario.estado.pk == 4 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="usu_2" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in usuarios %}
                              {% if usuario.estado.pk == 3 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="usu_3" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in usuarios %}
                              {% if usuario.estado.pk == 2 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="usu_4" class="tab-pane fade">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Fotografia</th>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                          </thead>
                          <tbody>
                            {% for usuario in usuarios %}
                              {% if usuario.estado.pk == 1 %}
                                <tr>
                                  <td class="td_img"><img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ usuario.fotografia }}"></td>
                                  <td>{{ usuario.carnet }}</td>
                                  <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                  <td>{{ usuario.correo }}</td>
                                  <td>{{ usuario.estado }}</td>
                                  <td>
                                    <div class="btn-group pull-right">
                                      <a href="{% url 'usac_networking:usu_update' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                      <a href="{% url 'usac_networking:user_detail' usuario.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span></a>
                                      <button data-id="{{ usuario.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<form id="del_confirm" method="post" data="{% url 'usac_networking:usuario' %}">
            {% csrf_token %}
            <div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    					<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
    				</div>
    				<div class="modal-body">
    					<p>Esta Seguro que Desea Eliminar esta Facultad?</p>
              <input type="hidden" name="f_op" value="del"/>
              <input type="hidden" id="u_id" name="u_id" value=""/>
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    					<button type="submit" class="btn btn-danger">Si</button>
    				</div>
    			</form>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/del_list.js' %}"></script>
  </body>
</html>
