{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Asignacion...</h2>
        </div>
        <div class="panel-body">

          <div class="panel panel-default">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#cargos"><span class="glyphicon glyphicon-apple"></span> Cargos ({{ cargos|length }})</a></li>
                <li><a data-toggle="tab" href="#asignacion"><span class="glyphicon glyphicon-apple"></span> Asignacion ({{ asignaciones|length }})</a></li>
                <li><a data-toggle="tab" href="#carreras"><span class="glyphicon glyphicon-apple"></span> Carreras Asignadas ({{ ciencias|length }})</a></li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div id="cargos" class="tab-pane fade in active">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <form class="form_registro" action="{% url 'usac_networking:asig_cargo' %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="panel-heading">
                          <h3>Agregar Cargo Universitario...</h3>
                        </div>
                        <div class="panel-body">
                          {{ cargoform.management_form }}
                          {% for form in cargoform %}
                            {% for field in form %}
                              {% if field.label == 'Usuario' %}
                                <div class="not-visible">
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                </div>
                              {% else %}
                                <div class="form-group">
                                  {% if field.label != 'Id' %}
                                    {{ field.label_tag }}
                                  {% endif %}
                                  {{ field }}
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </div>
                        <div class="panel-footer">
                          <button type="submit" class="btn btn-default">Agregar</button>
                        </div>
                      </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Cargos Actuales
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                            </thead>
                            <tbody>
                              {% for cargo in cargos %}
                                <tr>
                                  <td>{{ cargo.cargo.nombre }}</td>
                                  <td>{{ cargo.cargo.descripcion }}</td>
                                </tr>
                              {% empty %}
                                <tr>
                                  <td colspan="2"><h2>NO HAY NINGUN CARGO ASIGNADO</h2></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="asignacion" class="tab-pane fade in">
                  <div class="panel-group">
                    <div class="panel panel-default">
                        <form class="form_registro" action="{% url 'usac_networking:asig_asig' %}" method="post" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="panel-heading">
                            <h3>Agregar Curso...</h3>
                          </div>
                          <div class="panel-body">
                            {{ asigform.management_form }}
                            {% for form in asigform %}
                              {% for field in form %}
                                {% if field.label == 'Usuario' %}
                                  <div class="not-visible">
                                    <div class="form-group">
                                      {% if field.label != 'Id' %}
                                        {{ field.label_tag }}
                                      {% endif %}
                                      {{ field }}
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                          <div class="panel-footer">
                            <button type="submit" class="btn btn-default">Agregar</button>
                          </div>
                        </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Cursos Asignados
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Codigo</th>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                              <th>Facultad</th>
                              <th>fecha</th>
                            </thead>
                            <tbody>
                              {% for asignacion in asignaciones %}
                                <tr>
                                  <td>{{ asignacion.carrera.codigo }}</td>
                                  <td>{{ asignacion.carrera.nombre }}</td>
                                  <td>{{ asignacion.carrera.descripcion }}</td>
                                  <td>{{ asignacion.carrera.facultad }}</td>
                                  <td>{{ asignacion.fecha }}</td>
                                </tr>
                              {% empty %}
                                <tr>
                                  <td colspan="3"><h2>No Hay Ningun Rol Asignado</h2></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="carreras" class="tab-pane fade in">
                  <div class="panel-group">
                    <div class="panel panel-default">
                        <form class="form_registro" action="{% url 'usac_networking:asig_ciencia'  %}" method="post" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="panel-heading">
                            <h3>Asignar Ciencias...</h3>
                          </div>
                          <div class="panel-body">
                            {{ cienciaform.management_form }}
                            {% for form in cienciaform %}
                              {% for field in form %}
                                {% if field.label == 'Usuario' %}
                                  <div class="not-visible">
                                    <div class="form-group">
                                      {% if field.label != 'Id' %}
                                        {{ field.label_tag }}
                                      {% endif %}
                                      {{ field }}
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                          <div class="panel-footer">
                            <button type="submit" class="btn btn-default">Agregar</button>
                          </div>
                        </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Ciencias Asignadas
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                              <th>Carrera</th>
                            </thead>
                            <tbody>
                              {% for carrera in ciencias %}
                                <tr>
                                  <td>{{ carrera.ciencia.nombre }}</td>
                                  <td>{{ carrera.ciencia.descripcion }}</td>
                                  <td>{{ carrera.ciencia.carrera }}</td>
                                </tr>
                              {% empty %}
                                <tr>
                                  <td colspan="4"><h2>NO HAY CIENCIAS ASIGNADAS</h2></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
