{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-king"></span> Circulos Sociales
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th>Cod.</th>
                <th>Nombre.</th>
                <th>Propetario</th>
                <th>Ciencia</th>
                <th>Descripcion</th>
                <th>&nbsp;</th>
              </thead>
              <tbody>
                {% for circulo in circulos %}
                  <tr>
                    <td>{{ circulo.pk }}</td>
                    <td><a href="{% url 'usac_networking:circulo_info' circulo.pk %}">{{ circulo.nombre }}</a></td>
                    <td><a href="{% url 'usac_networking:user_detail' circulo.usuario.pk %}">{{ circulo.usuario.nombre }} {{ circulo.usuario.apellido }}</a></td>
                    <td>{{ circulo.ciencia }}</td>
                    <td>{{ circulo.descripcion }}</td>
                    <td>
                      <div class="btn-group pull-right">
                        <a href="{% url 'usac_networking:circulo_add' circulo.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
                        <button data-id="{{ circulo.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <th colspan="5">
                      <div class="text-center">
                        Actualmente no tienes ningun grupo
                      </div>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<form id="del_confirm" method="post" data="{% url 'usac_networking:circulos_admin' %}">
            {% csrf_token %}
            <div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    					<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
    				</div>
    				<div class="modal-body">
    					<p>Esta Seguro que Desea Eliminar esta Facultad?</p>
              <input type="hidden" name="f_op" value="del"/>
              <input type="hidden" id="f_id" name="f_id" value=""/>
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    					<button type="submit" class="btn btn-danger">Si</button>
    				</div>
    			</form>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/notificaciones.js' %}"></script>
  </body>
</html>
