{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <script type="text/javascript">
        var user_id = {{ u_id }};
        var url_comment = "{% url 'usac_networking:comment' %}";
        var url_comments = "{% url 'usac_networking:comments' %}";
        var url_comment_del = "{% url 'usac_networking:comment_del' %}";
        {% if comment_editable %}
          var comment_editable = true;
        {% else %}
          var comment_editable = false;
        {% endif %}
        {% if comment %}
          var comment = true;
        {% else %}
          var comment = false;
        {% endif %}
    </script>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="card-title">{{ tema.titulo }}
          {% if editable %}
            <a href="{% url 'usac_networking:tema_update' tema.pk %}" type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-pencil"></span> Modificar
            </a>
          {% endif %}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card mb-8">
            <img class="img-responsive" src="{% static "usac_networking/images/user_profile_images/" %}{{ tema.imagen }}" alt="Card image cap">
            <div class="card-body">
              <hr>
              {% autoescape off %}
                <div class="card-text text-justify">
                  {{ tema.contenido|linebreaks|capfirst }}
                </div>
              {% endautoescape %}
            </div>
            <div class="card-footer text-muted">
              Posteado por <a href="{% url 'usac_networking:user_detail' tema.usuario.pk %}">{{ tema.usuario.nombre }} {{ tema.usuario.apellido }}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel-group">
            {% if editable %}
              <a href="{% url 'usac_networking:tema_add' tema.pk %}" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span> Modificar Relaciones
              </a>
              <hr>
            {% endif %}
            <div class="panel panel-default">
              <div class="panel-heading">
                Ciencias Relacionadas
              </div>
              <div class="list-group">
                {% for ciencia_rel in  ciencias %}
                  <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ ciencia_rel.ciencia.nombre }}</h4>
                    <p class="list-group-item-text">{{ ciencia_rel.ciencia.carrera }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                Facultades Relacionadas
              </div>
              <div class="list-group">
                {% for facultad_rel in facultades %}
                  <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ facultad_rel.facultad.nombre }}</h4>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                Carreras Relacionadas
              </div>
              <div class="list-group">
                {% for carrera_rel in  carreras %}
                  <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ carrera_rel.carrera.nombre }}</h4>
                    <p class="list-group-item-text">{{ carrera_rel.carrera.facultad }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                Usuarios Invitados
              </div>
              <div class="list-group">
                {% for usuario_inv in  usuarios %}
                  <div class="list-group-item">
                    <h4 class="list-group-item-heading"><a href="{% url 'usac_networking:user_detail' usuario_inv.usuario.pk %}">{{ usuario_inv.usuario.nombre }} {{ usuario_inv.usuario.apellido }}</a></h4>
                    <p class="list-group-item-text">{{ usuario_inv.usuario.carnet }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <div class="comentarios">
            <h2><span class="glyphicon glyphicon-comment"></span> Comentarios ({{ tema.comment }})</h2>
            {% if comment %}
              <div class="panel panel-default">
                <div class="panel-body">
                  <label for="comentario">Comenta:</label>
                  <input id="textarea{{ tema.pk }}" type="textarea" name="comentario" value="">
                  <input class="comentar" type="submit" data-padre="{{ tema.pk }}" data-tipo="tema" value="Comentar">
                </div>
              </div>
            {% endif %}
            <ul class="list-group">
              {% for comentario in comentarios %}
                <li id="panel_comment{{ comentario.pk }}" class="list-group-item">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a href="{% url 'usac_networking:user_detail' comentario.usuario.pk %}">{{ comentario.usuario.nombre }} {{ comentario.usuario.apellido }}</a>
                      <small>{{ comentario.usuario.carnet }}</small>
                    </div>
                    <div class="panel-body">
                      <p>{{ comentario.contenido }}</p>
                      <div id="comentario{{ comentario.pk }}">

                      </div>
                      <div id="responder{{ comentario.pk }}" class="not-visible">
                        <input id="textarea{{ comentario.pk }}" type="textarea" name="comentario" value="">
                        <input class="comentar" type="submit" data-padre="{{ comentario.pk }}" data-tipo="comentario" value="Comentar">
                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="row">
                        {% if comment_editable %}
                          <div class="col-sm-3">
                            <p>Publicado el: {{ comentario.fecha }}</p>
                          </div>
                          <div class="col-sm-3">
                            {% if comment %}
                              <input class="responder" type="submit" data-id="{{ comentario.pk }}" value="Responder">
                            {% endif %}
                          </div>
                          <div class="col-sm-3">
                            <input class="respuestas" type="submit" data-id="{{ comentario.pk }}" value="Ver Respuestas ({{ comentario.num_res }})">
                          </div>
                          <div class="col-sm-3">
                            {% if comment %}
                              <input class="eliminar" type="submit" data-tipo="tema" data-padre="{{ tema.pk }}" data-id="{{ comentario.pk }}" value="Eliminar Respuesta">
                            {% endif %}
                          </div>
                        {% else %}
                          <div class="col-sm-4">
                            <p>Publicado el: {{ comentario.fecha }}</p>
                          </div>
                          <div class="col-sm-4">
                            {% if comment %}
                              <input class="responder" type="submit" data-id="{{ comentario.pk }}" value="Responder">
                            {% endif %}
                          </div>
                          <div class="col-sm-4">
                            <input class="respuestas" type="submit" data-id="{{ comentario.pk }}" value="Ver Respuestas ({{ comentario.num_res }})">
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
              <div id="nuevo_comentario{{ tema.pk }}">

              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/comments.js' %}"></script>
  </body>
</html>
