{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <div class="panel panel-default">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#mis_temas"><span class="glyphicon glyphicon-apple"></span> Mis Temas ({{ temas|length }})</a></li>
              <li><a data-toggle="tab" href="#temas_inv"><span class="glyphicon glyphicon-knight"></span> Temas Invitados ({{ temas_inv|length }})</a></li>
              <li class="pull-right">
                <a href="{% url 'usac_networking:tema_nuevo' %}" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="panel-body">

            <div class="tab-content">
              <div id="mis_temas" class="tab-pane fade in active">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <th>Cod.</th>
                          <th>Titulo</th>
                          <th>Fecha de Publicacion</th>
                          <th>Estado</th>
                          <th>&nbsp;</th>
                        </thead>
                        <tbody>
                          {% if temas|length > 0 %}
                            {% for tema in temas %}
                              <tr>
                                <td>{{ tema.pk }}</td>
                                <td><a href="{% url 'usac_networking:tema_info' tema.pk %}">{{ tema.titulo }}</a></td>
                                <td>{{ tema.fecha }}</td>
                                {% if tema.estado == 1 %}
                                  <td>No Solucionado</td>
                                {% elif tema.estado == 2 %}
                                  <td>Solucionado</td>
                                {% elif tema.estado == 3 %}
                                  <td><a href="#">Clausurado</a></td>
                                {% else %}
                                  <td><a href="#">Eliminado</a></td>
                                {% endif %}
                                <td>
                                  <div class="btn-group pull-right">
                                    <a href="{% url 'usac_networking:tema_update' tema.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{% url 'usac_networking:tema_add' tema.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
                                    <button data-id="{{ tema.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
                          {% else %}
                            <tr>
                              <th colspan="5">
                                <div class="text-center">
                                  Actualmente no tienes ningun grupo
                                </div>
                              </th>
                            </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div id="temas_inv" class="tab-pane fade in">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <th>Cod.</th>
                          <th>Propetario</th>
                          <th>Nombre.</th>
                          <th>Fecha de Publicacion</th>
                          <th>Estado</th>
                          <th>&nbsp;</th>
                        </thead>
                        <tbody>
                          {% if temas_inv|length > 0 %}
                            {% for tema_inv in temas_inv %}
                              <tr id="tema{{ tema_inv.pk }}">
                                <td>{{ tema_inv.tema.pk }}</td>
                                <td><a href="{% url 'usac_networking:user_detail' tema_inv.tema.usuario.pk %}">{{ tema_inv.usuario.nombre }} {{ tema_inv.usuario.apellido }}({{ tema_inv.usuario.carnet }})</a></td>
                                <td><a href="{% url 'usac_networking:tema_info' tema_inv.tema.pk %}">{{ tema_inv.tema.titulo }}</a></td>
                                <td>{{ tema_inv.tema.fecha }}</td>
                                {% if tema_inv.tema.estado == 1 %}
                                  <td>No Solucionado</td>
                                {% elif tema_inv.tema.estado == 2 %}
                                  <td>Solucionado</td>
                                {% elif tema_inv.tema.estado == 3 %}
                                  <td><a href="#">Clausurado</a></td>
                                {% else %}
                                  <td><a href="#">Eliminado</a></td>
                                {% endif %}
                                <td>
                                  <div class="btn-group pull-right">
                                    <a data-url="{% url 'usac_networking:notificacion_tema' %}" data-op="salir" data-id="{{ tema_inv.pk }}" href="#" type="button" class="btn btn-default btn-xs notificacion"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
                          {% else %}
                            <tr>
                              <th colspan="5">
                                <div class="text-center">
                                  Actualmente no perteneces a ningun grupo
                                </div>
                              </th>
                            </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<form id="del_confirm" method="post" data="{% url 'usac_networking:tema' %}">
            {% csrf_token %}
            <div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    					<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
    				</div>
    				<div class="modal-body">
    					<p>Esta Seguro que Desea Eliminar esta Facultad?</p>
              <input type="hidden" name="f_op" value="del"/>
              <input type="hidden" id="f_id" name="f_id" value=""/>
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    					<button type="submit" class="btn btn-danger">Si</button>
    				</div>
    			</form>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% include 'usac_networking/public/footer.html' %}
    <script src="{% static 'usac_networking/js/del_list.js' %}"></script>
    <script src="{% static 'usac_networking/js/temas.js' %}"></script>
  </body>
</html>
