{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Relacionar ciencias, facultades, carreras y usuarios a mi <a href="{% url 'usac_networking:tema_info' t_id %}">Tema</a></h2>
        </div>
        <div class="panel-body">

          <div class="panel panel-default">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#ciencias"><span class="glyphicon glyphicon-apple"></span> Ciencias Relacionadas ({{ ciencias|length }})</a></li>
                <li><a data-toggle="tab" href="#facultades"><span class="glyphicon glyphicon-apple"></span> Facultades Relacionadas ({{ facultades|length }})</a></li>
                <li><a data-toggle="tab" href="#carreras"><span class="glyphicon glyphicon-apple"></span> Carreras Relacionadas ({{ carreras|length }})</a></li>
                <li><a data-toggle="tab" href="#usuarios"><span class="glyphicon glyphicon-apple"></span> Usuarios invitados ({{ usuarios_inv|length }})</a></li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div id="ciencias" class="tab-pane fade in active">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <form class="form_registro" action="{% url 'usac_networking:tema_add_ciencia' t_id %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="panel-heading">
                          <h3>Agregar Ciencia...</h3>
                        </div>
                        <div class="panel-body">
                          {{ cienciaform.management_form }}
                          {% for form in cienciaform %}
                            {% for field in form %}
                              {% if field.label == 'Tema' %}
                                <div class="not-visible">
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                </div>
                              {% else %}
                                <div class="form-group">
                                  {% if field.label != 'Id' %}
                                    {{ field.label_tag }}
                                  {% endif %}
                                  {{ field }}
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </div>
                        <div class="panel-footer">
                          <button type="submit" class="btn btn-default">Agregar</button>
                        </div>
                      </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Ciencias en este Circulo
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                              <th>Carrera</th>
                            </thead>
                            <tbody>
                              {% for ciencia_rel in ciencias %}
                              <tr>
                                <td>{{ ciencia_rel.ciencia.nombre }}</td>
                                <td>{{ ciencia_rel.ciencia.descripcion }}</td>
                                <td>{{ ciencia_rel.ciencia.carrera }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="facultades" class="tab-pane fade in">
                  <div class="panel-group">
                    <div class="panel panel-default">
                        <form class="form_registro" action="{% url 'usac_networking:tema_add_facultad' t_id %}" method="post" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="panel-heading">
                            <h3>Agregar Facultad...</h3>
                          </div>
                          <div class="panel-body">
                            {{ facultadform.management_form }}
                            {% for form in facultadform %}
                              {% for field in form %}
                                {% if field.label == 'Tema' %}
                                  <div class="not-visible">
                                    <div class="form-group">
                                      {% if field.label != 'Id' %}
                                        {{ field.label_tag }}
                                      {% endif %}
                                      {{ field }}
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                          <div class="panel-footer">
                            <button type="submit" class="btn btn-default">Agregar</button>
                          </div>
                        </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Facultades en este Tema
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Codigo</th>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                            </thead>
                            <tbody>
                              {% for facultad_rel in facultades %}
                              <tr>
                                <td>{{ facultad_rel.facultad.codigo }}</td>
                                <td>{{ facultad_rel.facultad.nombre }}</td>
                                <td>{{ facultad_rel.facultad.descripcion }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="carreras" class="tab-pane fade in">
                  <div class="panel-group">
                    <div class="panel panel-default">
                        <form class="form_registro" action="{% url 'usac_networking:tema_add_carrera' t_id %}" method="post" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="panel-heading">
                            <h3>Agregar Carrera...</h3>
                          </div>
                          <div class="panel-body">
                            {{ carreraform.management_form }}
                            {% for form in carreraform %}
                              {% for field in form %}
                                {% if field.label == 'Tema' %}
                                  <div class="not-visible">
                                    <div class="form-group">
                                      {% if field.label != 'Id' %}
                                        {{ field.label_tag }}
                                      {% endif %}
                                      {{ field }}
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                          <div class="panel-footer">
                            <button type="submit" class="btn btn-default">Agregar</button>
                          </div>
                        </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Carrera en este Tema
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Codigo</th>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                              <th>Facultad</th>
                            </thead>
                            <tbody>
                              {% for carrera_rel in carreras %}
                              <tr>
                                <td>{{ carrera_rel.carrera.codigo }}</td>
                                <td>{{ carrera_rel.carrera.nombre }}</td>
                                <td>{{ carrera_rel.carrera.descripcion }}</td>
                                <td>{{ carrera_rel.carrera.facultad }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="usuarios" class="tab-pane fade in">
                  <div class="panel-group">
                    <div class="panel panel-default">
                        <form class="form_registro" action="{% url 'usac_networking:tema_add_usuario' t_id %}" method="post" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="panel-heading">
                            <h3>Invitar Usuarios...</h3>
                          </div>
                          <div class="panel-body">
                            {{ usuarioform.management_form }}
                            {% for form in usuarioform %}
                              {% for field in form %}
                                {% if field.label == 'Tema' %}
                                  <div class="not-visible">
                                    <div class="form-group">
                                      {% if field.label != 'Id' %}
                                        {{ field.label_tag }}
                                      {% endif %}
                                      {{ field }}
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="form-group">
                                    {% if field.label != 'Id' %}
                                      {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                          <div class="panel-footer">
                            <button type="submit" class="btn btn-default">Agregar</button>
                          </div>
                        </form>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Usuarios invitados en este tema
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <th>Carnet</th>
                              <th>Nombre</th>
                            </thead>
                            <tbody>
                              {% for usuario_inv in usuarios_inv %}
                              <tr>
                                <td>{{ usuario_inv.usuario.carnet }}</td>
                                <td><a href="{% url 'usac_networking:user_detail' usuario_inv.usuario.pk %}">{{ usuario_inv.usuario.nombre }} {{ usuario_inv.usuario.apellido }}</a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
