{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      {% if msg %}
        <div class="alert alert-info">{{ msg }}</div>
      {% endif %}
      {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
      {% endif %}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-king"></span> Tema
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped display" id="tabla">
              <thead>
                <th>Cod</th>
                <th>Titulo</th>
                <th>Propetario</th>
                <th>Publicacion</th>
                <th>Estado</th>
                <th>&nbsp;</th>
              </thead>
              <tbody>
                {% for tema in temas %}
                  <tr>
                    <td>{{ tema.pk }}</td>
                    <td><a href="{% url 'usac_networking:tema_info' tema.pk %}">{{ tema.titulo }}</a></td>
                    <td><a href="{% url 'usac_networking:user_detail' tema.usuario.pk %}">{{ tema.usuario.nombre }} {{ tema.usuario.apellido }}</a></td>
                    <td>{{ tema.fecha }}</td>
                    {% ifequal tema.estado 1 %}
                      <td>No Solucionado</td>
                    {% endifequal %}
                    {% ifequal tema.estado 2 %}
                      <td>Solucionado</td>
                    {% endifequal %}
                    {% ifequal tema.estado 3 %}
                      <td>Clausurado</td>
                    {% endifequal %}
                    {% ifequal tema.estado 4 %}
                      <td>Eliminado</td>
                    {% endifequal %}
                    <td>
                      <div class="btn-group pull-right">
                        <a href="{% url 'usac_networking:tema_add' tema.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
                        <button data-id="{{ tema.pk }}" type="button" class="btn btn-default btn-xs udel"><span class="glyphicon glyphicon-remove"></span></button>
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <th colspan="5">
                      <div class="text-center">
                        No Existe ningun Tema
                      </div>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<form id="del_confirm" method="post" data="{% url 'usac_networking:tema_admin' %}">
            {% csrf_token %}
            <div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    					<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
    				</div>
    				<div class="modal-body">
    					<p>Esta Seguro que Desea Eliminar esta Facultad?</p>
              <input type="hidden" name="f_op" value="del"/>
              <input type="hidden" id="f_id" name="f_id" value=""/>
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    					<button type="submit" class="btn btn-danger">Si</button>
    				</div>
    			</form>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% include 'usac_networking/public/footer.html' %}
    <script type="text/javascript">
      var table_Props =  {
                      col_3: "select",
                      col_5: "none",
                      display_all_text: " [ Show all ] ",
                      sort_select: true,
                      filters_row_index: 1,
                      match_case: true,
                      remember_grid_values: true
                  };
      var tf = new TableFilter('tabla',table_Props);
      tf.init();
    </script>
    <script src="{% static 'usac_networking/js/notificaciones.js' %}"></script>
  </body>
</html>
