{% load static %}
<!DOCTYPE html>
<html>
  {% include 'usac_networking/public/header.html' %}
  <body>
    {% include 'usac_networking/public/navigation.html' %}
    <div class="container">
      <div class="contenido">
        <div class="row">
          <div class="col-md-12">
            <h1>Mis Temas</h1>
          </div>
        </div>
        {% for tema in temas %}
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3>{{ tema.titulo }} ({{ tema.fecha }})</h3>
                </div>
                <div class="panel-body">
                  {% autoescape off %}
                    <div class="card-text text-justify">
                      {{ tema.contenido|linebreaks|capfirst|truncatechars:100 }}
                    </div>
                  {% endautoescape %}
                </div>
                <div class="panel-footer">
                  Posteado :{{ tema.fecha }}
                  <div class="pull-right">
                    <a href="{% url 'usac_networking:tema_info' tema.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Seguir Leyendo</a>
                    <a href="{% url 'usac_networking:tema_update' tema.pk %}" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Modificar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        {% empty %}
          <div class="row">
            <div class="text-center">
              <h1>No Tienes ningun tema creado aun</h1>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% include 'usac_networking/public/footer.html' %}
  </body>
</html>
